<%if !@question_tab.blank?%>
	<h1><%=h @question_tab.titulo%></h1>
	
	<%if !@question_tab.texto.blank?%>
	
	<p><%=h @question_tab.texto%></p>
	
	<%end%>
	
	<%if !@question_tab.picture_file_size.blank?%>
	
		<%= image_tag @question_tab.picture.url() %>
	
	<%end%>
	
	<% form_for([@test,@question]) do |f| %>
		<%= f.error_messages %>
		<p class="helper">Insira a resposta correspondente no campo abaixo. Em caso
		de dúvidas, entre em contato com o responsável pela seleção.</p>
		<p>Resposta:</p>
		<%= f.text_field :resposta %>
		<p class="helper">Atenção! Ao avançar, você não poderá mais mudar sua resposta!
		Apenas clique em "Avançar" caso tenha certeza de que deseja continuar!</p>
		<%= f.submit 'Avançar', :disable_with => "Salvando..." %>
	<% end %>
<%else%>
	<h1>Fim do Teste!</h1>
	<p>Você concluiu o teste e suas respostas já estão em nossas mãos. 
	Agora, basta aguardar o resultado via e-mail ou telefone.</p>
	<%= link_to 'Página de Testes', tests_path%>
	<%revoque_autorization%>
<%end%>