<h2>Login</h2>
<% form_tag session_path do %>
<p><label for="login">Nome de usuário</label><br/>
<%= text_field_tag 'login' %></p>
	
<p><label for="password">Senha</label><br />
<%= password_field_tag 'password' %></p>
 
 
<p><label for="remember_me">Lembrar de mim</label>
<%= check_box_tag 'remember_me' %></p>
 
<p><%= submit_tag 'Log in' %></p>
<p><%= link_to "Registre-se", new_user_path %></p>
<p><%= link_to 'Esqueci minha senha', forgot_password_path %></p>
<% end %>
