<h1>Editando Teste <%=h @test_tab.nome%></h1>

<% form_for(@test_tab) do |f| %>
  <%= error_messages_for 'test_tab', :object_name => "Teste" %>

  <p>
    <%= f.label :Nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :Descrição %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Voltar', test_tabs_path %>