
<div style="border-bottom:dashed; border-bottom-width:thin; border-bottom-color:#00628B;">
	
	<p>
	    <b>Nome:</b>
	    <%=h curriculo.nome %>  
	    <%=h curriculo.sobrenome %>
		<b>Data de Nascimento: </b>
	    <%=h curriculo.data_nasc.strftime('%d/%m/%Y') %> 
	</p>
	<p>
		<b>Empregado? </b>
		<%if curriculo.empregado%>
		Sim
		<%else%>
		Não
		<%end%>
		<b>Escolaridade:</b> <%=h escol_method(curriculo.escolaridade)%>
	</p>
	<p>
		<b>Estado:</b>
		<%=h curriculo.estado%>
		<b>Cidade:</b> 
		<%=h curriculo.cidade%>
	</p>
	<p>
		<b>Pretensão salarial:</b>
		<%=h number_to_currency(curriculo.salario, :unit => "R$", :separator => ",") %>
	</p>
	<p><b>Nível de inglês: </b><%=h curriculo.english%> 
  	<b>Nível de espanhol: </b><%=h curriculo.spanish%></p>
  	<p><b>Nível de conhecimentos em informática: </b><%=h curriculo.informatica%></p>
	
	<td><%= link_to 'Ler Currículo', curriculo_path(curriculo)  %></td>
	<br>
</div>
<br>